#http://github.com/matthewhampton/pipping-easy-install/tarball/master#egg=pipping-easy-install
file://e:\work\git\pipping-easy-install#egg=pipping-easy-install
pywin32
-r warden_requirements_common.txt